/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('campo.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.dark {
  background-color: #2f3e46;
  color: #cdd6f4;
  background-image: url('cidade.jpeg');
}

.container {
  background-color: rgba(255, 255, 255, 0.7); /* translúcido */
  backdrop-filter: blur(8px);
  padding: 2rem;
  border-radius: 15px;
  max-width: 800px;
  margin: 2rem auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

body.dark .container {
  background-color: rgba(47, 62, 70, 0.8);
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-top: 2rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}